
/* General */

body{
    background-color: white;
    position: relative;
    background-repeat: no-repeat;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    overflow-x: hidden;
}




/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}













/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}
html { font-size:100%; }

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 

@media (min-device-width:600px) {
  img[data-src-600px] {
      content: attr(data-src-600px, url);
  }
}

@media (min-device-width:800px) {
  img[data-src-800px] {
      content: attr(data-src-800px, url);
  }
}


/* Navbar */
.sidenav
{
  height: 100%;
  width: 0;
  position:fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:black;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px ;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: gray;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




/* Slideshow */


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
  position: center;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 20%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}










/*  CONTENT  */


.site-container
{
  margin: 2rem auto;
  max-width: calc(100% - 80px);
}
.article-container
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px,1fr));
  gap: 2rem;
}
.article-image
{
  
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.article-image img
{
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}
.article-card
{
  background: rgb(54, 49, 49);
  border-radius: 20px;
  transition: 0.3s;
  
}
.article-card:hover
{
  box-shadow: 0 40px 20px 0 rgba(34,68,123,0.2);
  cursor: pointer;
}
.article-content
{
  padding: 2rem;
}
.article-content .card-category
{
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: white;
  display: block;
  text-decoration: none;
}
.article-content .card-title
{
  margin: 1rem 0;
  color: white;
}
.article-content .card-excerpt
{
  font-size: 14px;
  line-height: 1.5rem;
  color: white;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .site-container {
    max-width: 608px;
  }
  .article-card {
    display: grid;
    grid-template-rows: 220px 1fr;
  }
}
@media screen and (min-width: 120px) {
    .site-container {
      max-width: 1156px;
    }
}







/* Footer */
.ft
{
  padding: 20px;
  background-color: black;
}
.digital
{
  padding: 10px 20px;
  background-color: white;
  border-radius:100px;
  margin: auto;
  width: 1000px;
  border: 1px solid black;
  padding: 10px;
}
.dg
{
 color: white;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 24px;
 text-align: center;

}
