
/* General */


body{
  background-color: white;
  position: relative;
  background-repeat: no-repeat;
  line-height: 1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  overflow-x: hidden;
}







/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}
html { font-size:100%; }

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 

@media (min-device-width:600px) {
  img[data-src-600px] {
      content: attr(data-src-600px, url);
  }
}

@media (min-device-width:800px) {
  img[data-src-800px] {
      content: attr(data-src-800px, url);
  }
}





/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: black; 
  }
  
  
  
  


/* Navbar */
.sidenav
{
height: 100%;
width: 0;
position:fixed;
z-index: 1;
top: 0;
left: 0;
background-color:black;
overflow: hidden;
transition: 0.5s;
padding-top: 60px ;
}
.sidenav a {
padding: 8px 8px 8px 32px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-decoration: none;
font-size: 25px;
color: white;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: gray;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}




/*  CONTENT  */
.content
{
    background-color:white;
}


.container{
    background-color: white;
}
* {
    box-sizing: border-box;
  }

  
  /* Style the header */
  .header {
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #333333;
    color: white;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    border: 1px solid black;
    border-radius: 20px;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    width: 33.33%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }


/* Content */
.container2{
  margin: auto;
}
.content2{
  padding: 20px;
  margin: auto;
  background: white;
  border-radius: 50px;
  width: 1000px;
  font-family: monospace;
  text-align: center;
}










  







/* Footer */
.ft
{
  padding: 20px;
  background-color: black;
}
.digital
{
  padding: 10px 20px;
  background-color: white;
  border-radius:100px;
  margin: auto;
  width: 1000px;
  border: 1px solid black;
  padding: 10px;
}
.dg
{
 color: white;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 24px;
 text-align: center;

}
